<div class="card" style="width: 18rem;">
  <%= image_tag "character.png", alt: "#{book_author.name}", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">
      <%= book_author.name %>
    </h5>
    <p class="card-text">
      Born: <%= book_author.birth_year %>
    </p>
  </div>
</div>