<div class="row mt-4">
  <div class="col">
    <h1>All Authors</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<% if @authors.present? %>
  <div class="row mt-2">
    <div class="col">
      <ul>
        <% @authors.each do |author| %>
          <li>
            <%= link_to author.name, author_path(author) %> - <%= link_to "View Author Books", author_books_path(author) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= link_to "+ Add a New Author", new_author_path %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <h4>No Authors Found</h4>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
<% end %>