<h1>Author Details</h1>

<hr>

<%= link_to "Return to Authors List", authors_path %>

<hr>

<p>
  <strong>Name:</strong> <%= @author.name %>
</p>
<p>
  <strong>Born:</strong> <%= @author.birth_year %>
</p>

