<footer class="pt-5 pb-5 mt-5 bg-dark text-white">
  <div class="container ">
    <div class="row">
      <div class="col-6">
        <p>Footer Content</p>
      </div>
      <div class="col-6">
        <p class="float-right">
          <a href="#" class="text-light">Back to top</a>
        </p>
      </div>
    </div>
  </div>
</footer>